:root {
    --first-screen-font-color-light: rgba(193, 255, 127, 0.98);
}

:root {
    --first-screen-font-size: 45px;
}

:root {
    --base-font-size: 18px;
}

:root {
    --page-content-max-width: 1100px;
}

:root {
    --home-post-hover-scale: 1.006;
}